<% include header %>
	<body background = "/images/mehar.jpg">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="nav">
							<a class="navbar-brand" href="#">CHOUDHARY</a>
					  <a class="navbar-brand" href="/index">Home</a>
					  <a class="navbar-brand" href="/gpa_calc">GPA Calculator</a>
					  <a class="navbar-brand" href="/contact">Contact</a>
					</div>
				  </nav>
		<header class ="Header">Contact/Reviews</header>
		<div class = center>
		<form action="Contact.html" onsubmit="alert( 'Thank you! your responce is recorded')">
			<p class="details">Name<sub></sub></p>
			<input type="text" placeholder="FirstName" required><br>
			<br>
			<p class="details">Email<sub></sub>*</p>
			<input type="text" placeholder="Email" required><br>
			<p class = "details">Gender <sub></sub>*</p>
				<div  class="color" >
				<input type="radio" name="gender" value="male" checked>Male<br>
				<input type="radio" name="gender" value="female"> Female<br>
				</div>
				<p class = "details">
					Any Questions
				</p><br>
				<textarea style ="height:250px;width:250px" ></textarea>
				<button type ="submit"  name="submit">Submit</button> 

			</form>

				<a target="_blank" href="https://bitbucket.org/Mehar_Choudhary/"><img src="images/bit.png" height="40" width="40"></a>
        <a target="_blank" href="https://www.linkedin.com/in/mehar-chowdary-79210a142/"><img src="images/link.png"  height="40" width="40"></a>
        <a target="_blank" href="https://github.com/MeharChoudhary"><img src="images/git.png"  height="40" width="40"></a>
		</div>
<% include footer %>		
		