<% include header %>
	<body background = "/images/images.jpg">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav">
		<a class="navbar-brand" href="#">CHOUDHARY</a>

    <a class="navbar-brand" href="/index">Home</a>
	<a class="navbar-brand" href="/gpa_calc">GPA Calculator</a>
	<a class="navbar-brand" href="/contact">Contact</a>
  </div>
</nav>
	<br>
	<header class ="Header"> MEHAR CHOUDHARY</header>
	<main>
	<section>
		<img class="img-circle" width ="200" height= "200" src ="/images/pro.jpg" align="right"></br></br></br>
		<h3 class= "aboutme" ></br></br></br></br>About Me</h3>
		<p id= "font" >I am a graduate student where I am here to pursue my masters.</p>
	</section>
<h3 class = "aboutme" > About Yourself </h3>	
<section>
<h3 id = "headings">
<p>I am from India. I have done my undergraduation at Jawaharlal Nehru Technological University in the stream of computer science.</p>
</h3>
		<section>
			<h3 class = "aboutme" > Goals!!!</h3>
			<p>In my future I would like to see myself in the position of software developer or in the position of front end web developer in one of the top companies.</p>
		</section>
<h3 class = "aboutme">Hobbies</h3>
<p>My hobbies are playing tennis and badminton.</p>
</section>


<section>
		<h2 class = "aboutme">Schedule</h2>
			<ul>
			<li class="font1">WEB APPS</li>
			<li class="font1">ADVANCE DATABASE SYSTEMS</li>
			<li class="font1">OBJECT ORIENTED PROGRAMMING</li>
			</ul>
</section>
<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/lHvtZSsEYsE" 
	frameborder="0" allow="autoplay;"encrypted-media" allowfullscreen> </iframe>
</div>
<div class="col-md-4"></div>
</div>
</div>
</main>
<% include footer %>